[Unit]
Description=Kali Safety EDR and SIEM Shield
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/kali/safety_monitor_test
ExecStart=/usr/bin/python3 /home/kali/safety_monitor_test/master_siem.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
